<h2>Recipes</h2>
<h4>Submit a Recipe:</h4>
<form method="POST" class="post-form">{% csrf_token %}
	{{form.as_p}}
	<button type="submit" name="submit" class="save btn btn-default">Submit</button>
</form>
<h4>Find a Recipe:</h4>
<form method="POST">{% csrf_token %}
	{{ findform.as_p }}
	<input type="submit" name="find" value="Find Recipe"/>
</form>
<h4>Delete Recipe:</h4>
<form method="POST">{% csrf_token %}
	{{ deleteform.as_p }}
	<input type="submit" name="delete" value="Delete Recipe"/>
</form>
<h4>View All Recipes:</h4>
<form action={% url 'food:showAll' %}>
	<input type="submit" value="Show All" />
</form>
